<md-toolbar class="md-theme-light">
  <h1 class="md-toolbar-tools">
    <span>Recensioner</span>
  </h1>
</md-toolbar>
<md-content>
  <md-list>
    <md-item>
      <div ng-if="ctrl.reviews.length" class="reviews">
        <div ng-repeat="review in ctrl.reviews">
          <md-item-content>
            <div class="md-tile-content">
              <div layout="row" layout-align="center center">
                <md-icon md-svg-src="https://rawgit.com/google/material-design-icons/master/action/svg/production/ic_grade_24px.svg">
                </md-icon>
                <span style="padding-left: 16px;">{{review.rating | number:1}}
                av {{review.user.username}}
                {{review.created_at | date:'medium'}}</span>
                <div ng-if="ctrl.auth.currentUser == review.user.username">
                  <md-button ng-click="ctrl.removeReview(review.id)">Ta bort</md-button>
                  <md-button ng-click="review.edit = !review.edit">Redigera</md-button>
                </div>
                <span flex></span>
              </div>
            </div>
          </md-item-content>
          <md-content style="padding: 16px">
            <create-review created="ctrl.reload()" old="review" ng-if="review.edit"></create-review>
            <span ng-if="!review.edit">{{review.description}}</span>
          </md-content>
          <md-divider></md-divider>
        </div>
      </div>
    </md-item>
  </md-list>
</md-content>
