<md-dialog>
  <md-content>
    <form name="loginForm" ng-submit="loginForm.$valid" novalidate>
      <div ng-if="error">Fel användarnamn och/eller lösenord</div>
      <md-input-container flex>
        <label>Användarnamn</label>
        <input type="text" required name="username" ng-model="user.username">
        <div ng-if="loginForm.username.$dirty" ng-messages="loginForm.username.$error">
          <div ng-message="required">Fältet får ej vara tomt</div>
        </div>
      </md-input-container>
      <md-input-container>
        <label>Lösenord</label>
        <input type="password" required name="password" ng-model="user.password">
        <div ng-if="loginForm.password.$dirty" ng-messages="loginForm.password.$error">
          <div ng-message="required">Fältet får ej vara tomt</div>
        </div>
      </md-input-container>
    </form>
  </md-content>
  <div class="md-actions" layout="row">
    <md-button ng-click="login(user)">
      Logga in
    </md-button>
    <md-button ng-click="closeDialog()" class="md-primary">
      Stäng
    </md-button>
  </div>
</md-dialog>
