<div layout="row" layout-wrap layout-align="center center">
  <div ng-repeat="place in ctrl.places">
    <a ui-sref="place({ id: place.id })">
      <md-card>
        <h1 class="headline">{{place.name}}</h1>
        <p>{{place.description}}</p>

        <div layout="row">
          <span flex></span>
          <md-icon md-svg-src="https://rawgit.com/google/material-design-icons/master/action/svg/production/ic_grade_24px.svg">
          </md-icon>
          <span>{{place.rating | number:1}}</span>
        </div>

      </md-card>
    </a>
  </div>
</div>
