<div layout="row" layout-wrap layout-align="center center">
  <div ng-repeat="place in ctrl.places">
    <a ui-sref="place({ id: place.id })">
      <md-card>
        <img src="{{place.image}}" alt=""/>
        <md-toolbar class="md-theme-light">
          <h1 class="md-toolbar-tools">
            <span>{{place.name}}</span>
          </h1>
        </md-toolbar>
        <md-content>
          <md-list>
            <md-item>
              <md-item-content>
                <div class="md-tile-content">
                  <div layout="row" layout-align="center center">
                    <md-icon md-svg-src="https://rawgit.com/google/material-design-icons/master/action/svg/production/ic_grade_24px.svg">
                    </md-icon>
                    <span style="padding-left: 16px;">{{place.rating | number:1}}</span>
                    <span flex></span>
                  </div>
                </div>
              </md-item-content>
              <md-divider></md-divider>
            </md-item>
            <md-item>
              <md-item-content>
                <div class="md-tile-content">
                  <div layout="row" layout-align="center center">
                    <md-icon md-svg-src="https://rawgit.com/google/material-design-icons/master/maps/svg/production/ic_place_24px.svg">
                    </md-icon>
                    <span style="padding-left: 16px;">{{place.address}}</span>
                    <span flex></span>
                  </div>
                </div>
              </md-item-content>
              <md-divider></md-divider>
            </md-item>
          </md-list>
        </md-content>
        <md-content style="padding: 16px">
          {{place.description}}
        </md-content>
      </md-card>
    </a>
  </div>
</div>
