<md-toolbar layout="row">
  <div class="md-toolbar-tools">
    <a ui-sref="home"><h3>Bean</h3></a>
    <div layout="row" layout-align="center center" flex>

      <md-autocomplete
        md-search-text="ctrl.query"
        md-items="item in []"
        placeholder="Vad söker du?">
      </md-autocomplete>

      <md-select id="tags" ng-model="tagObj">
        <md-select-label>{{tagObj.name ? tagObj.name : 'Taggar'}}</md-select-label>
        <md-option ng-value="true">Alla</md-option>
        <md-option ng-value="tag" ng-repeat="tag in ctrl.tags">{{tag.name}}</md-option>
      </md-select>
    </div>

    <login></login>
  </div>
</md-toolbar>
<md-content class="layout">

    <div layout="row" layout-wrap layout-align="center start">

  <div ng-repeat="place in values = (ctrl.places| filter: tagObj.name)">
    <a ui-sref="place({ id: place.id })">
      <md-card>
        <img ng-src="{{place.image}}" alt=""/>
        <md-toolbar class="md-theme-light">
          <h1 class="md-toolbar-tools">
            <span>{{place.name}}</span>
          </h1>
        </md-toolbar>
        <md-content>
          <md-list>
            <md-item>
              <md-item-content>
                <div class="md-tile-content">
                  <div layout="row" layout-align="center center">
                    <md-icon md-svg-src="https://rawgit.com/google/material-design-icons/master/action/svg/production/ic_grade_24px.svg">
                    </md-icon>
                    <span style="padding-left: 16px;">{{place.rating | number:1}}</span>
                    <span flex></span>
                  </div>
                </div>
              </md-item-content>
              <md-divider></md-divider>
            </md-item>
            <md-item>
              <md-item-content>
                <div class="md-tile-content">
                  <div layout="row" layout-align="center center">
                    <md-icon md-svg-src="https://rawgit.com/google/material-design-icons/master/maps/svg/production/ic_place_24px.svg">
                    </md-icon>
                    <span style="padding-left: 16px;">{{place.address}}</span>
                    <span flex></span>
                  </div>
                </div>
              </md-item-content>
              <md-divider></md-divider>
            </md-item>
          </md-list>
        </md-content>
        <md-content style="padding: 16px">
          {{place.description}}
        </md-content>
        <md-divider></md-divider>
        <md-content>
          <md-list>
            <md-item>
              <md-item-content>
                <div class="md-tile-content">
                  <div layout="row" layout-align="center center">
                    <span ng-repeat="tag in place.tags" style="padding-left: 16px;">{{tag.name}}</span>
                    <span flex></span>
                  </div>
                </div>
              </md-item-content>
              <md-divider></md-divider>
            </md-item>
          </md-list>
        </md-content>
      </md-card>
    </a>
  </div>
      <div ng-if="ctrl.loading">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
      </div>
      <p ng-show="!values.length && !ctrl.loading">Hittade inga caféer... Vänligen sök på något annat eller välj en annan tagg.</p>
      </div>
</md-content>

<place-map ng-if="ctrl.places" places="ctrl.places" ng-class="{open:ctrl.mapOpen}"></place-map>
<fab-menu map-open="ctrl.toggleMap()" class="md-fab-menu-bottom-right"></fab-menu>
