place {
  height: 100vh;
  display: block;
  overflow:hidden;
  > div {

    width: 100%;

  }
  md-content.layout {
    //height: 100%;
    height: calc(100vh - 64px);
    > div {
      height: calc(100vh - 64px);
    }
  }
  md-card {
    //background-color: #B18965;
    background-color: #ffffff;
    max-width: 500px;
    width: 400px - 16px;
    padding: 8px;
    -webkit-transition-delay: 200ms;
    transition-delay: 200ms;

    -webkit-transform: none;
    transform: none;

    opacity: 1;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  md-icon {
    color: #442419;
    margin: 0;
  }

}

.md-toolbar-tools {
  md-select {
    margin: 0 16px 0 0;
    color: #ffffff !important;
  }
  md-autocomplete {
    margin: 16px;
    opacity: 1;
    width: 100%;
  }
  md-icon {
    color: #ffffff;
  }
}
md-select-label {
  color: #ffffff !important;
  font-size: 1rem !important;
}
