$primaryBG: #388E3C;

html, body {
  background-color: #D5C1A9;
  height: 100%;
  width: 100%;
}

.info-window {
  /*min-height: 80px;*/
  height: auto !important;
  min-height: 100% !important;
}

.gm-style-iw {
  height: auto !important;
}

.gm-style-iw > div {
  height: auto !important;
  min-height: 100% !important;
  padding-bottom: .5em;
}

.hidden {
  display: none !important;
}

md-content.md-default-theme {
  background-color: #D5C1A9;
  //height: 100%;
  //width:100%;
}

.headline {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.87);
}

.display1 {
  font-size: 34px;
}

.page {
  height: 100vh;
}

.md-button.md-default-theme.md-primary.md-raised:not([disabled]):hover, .md-button.md-default-theme.md-primary.md-raised:not([disabled]):focus, .md-button.md-default-theme.md-primary.md-fab:not([disabled]):hover, .md-button.md-default-theme.md-primary.md-fab:not([disabled]):focus {
  ul {
    background-color: red;
    opacity: 1;
  }
}

.md-fab {
  animation: fromTop 1s 1;
  -webkit-animation: fromTop 1s 1;
}

@keyframes fromTop {
  0% {
    transform: translateY(-250px);
  }
  100% {
    transform: translateY(0);
  }
}

// injector
// endinjector
