$primaryBG: #388E3C;


/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/oMMgfZMQthOryQo9n22dcuvvDin1pK8aKteLpeZ5c0A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v15/RxZJdnzeo3R5zSexge8UUZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

html, body {
  background-color: #D5C1A9;
  height: 100%;
  width: 100%;
}

.info-window {
  /*min-height: 80px;*/
  height: auto !important;
  min-height: 100% !important;
}

.gm-style-iw {
  height: auto !important;
}

.gm-style-iw > div {
  height: auto !important;
  min-height: 100% !important;
  padding-bottom: .5em;
}

.hidden {
  display: none !important;
}

md-content.md-default-theme {
  background-color: #D5C1A9;
  //height: 100%;
  //width:100%;
}

.headline {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.87);
}

.display1 {
  font-size: 34px;
}

.page {
  height: 100vh;
}

.md-button.md-default-theme.md-primary.md-raised:not([disabled]):hover, .md-button.md-default-theme.md-primary.md-raised:not([disabled]):focus, .md-button.md-default-theme.md-primary.md-fab:not([disabled]):hover, .md-button.md-default-theme.md-primary.md-fab:not([disabled]):focus {
  ul {
    background-color: red;
    opacity: 1;
  }
}

.md-fab {
  animation: fromTop 1s 1;
  -webkit-animation: fromTop 1s 1;
}

@keyframes fromTop {
  0% {
    transform: translateY(-250px);
  }
  100% {
    transform: translateY(0);
  }
}

// injector
// endinjector
