place-detail {
  display: block;
  height: 101%;
  margin: 0 auto;
  width: auto;
  .bg-image{
    height: 250px;
    width: 100%;
    float: right;
    @media (min-width: 640px) {
      width: 50%;
      height: 300px;
    }
    max-height: inherit;

  }
  .top-detail {
    display: inline-block;
    width:100%;
    @media (min-width: 640px) {
      float:left;
      width: 49%;
      > div {
        width: 100%;
      }
    }
  }
  md-card {
    background-color: #ffffff;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin: 0;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  md-icon {
    color: #442419;
    margin: 0;
  }
}
