place-detail {
  display: block;
  md-card {
    background-color: #B18965;
    width: 100%;
    padding: 8px;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  md-icon {
    color: #442419;
    margin: 0;
  }
}
